.App {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  max-width: 100%;
  width: 100vw;
  max-width: 100vw;
  background-color: #DADADA;
  background-repeat:no-repeat;
  background-size:cover
}



.topo{
  width: 100%;
}

.logo{
  text-align: right;

}

.titulo{
  padding-top: 8%;
  font-size: 7rem;
}

.reforco{
  font-size: 1rem;
  text-align: left;
}

.branco{
  color: #fff;
}

.btn{
  background-color: #1da5d3 !important;
  color:#fff !important;
  text-align: center;
}

.w-100{
  width: 100%;
}

.sublinhado{
  text-decoration: underline;
}

#cadastrar{
  margin-top: 6%;
}

#fixed{
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  margin-left: 88%;
  margin-top: 37%;
}

.inputs{
  margin-top: 8%
}

.container{
  max-width: 100vw !important;
  margin: 0;
  padding: 0;
}

.imgAtividades{
  width: 250px;
  height: 250px;
}

.imgReprodutor{
  width: 100px;
  height: 100px;
}

.meu-botao{
  border: none;
  background-color: transparent;
}

.minha-palavra{
  font-size: 2.5rem;
}



